<div v-if="signedIn">
  <h3>Filters by:</h3>
  <button
    class="filter-btn"
    v-bind:class="{'active': filterPins}"
    @click="filterPins = !filterPins"
  >
    Your Pins
  </button>
  <button
    class="filter-btn"
    v-bind:class="{'active': filterLikes}"
    @click="filterLikes = !filterLikes"
  >
    Your Likes
  </button>
</div>