<%
  @title = 'Home'
  @full_width = true
  @body_class = "list-index"
%>

<div id="search-lists">
  <div class="row">
    <div class="form-group col-md-3">
        <input
          class="form-control query-input"
          v-model="query"
          v-bind:placeholder="placeholder"
          v-on:keyup="getResults"
          v-on:keyup.esc="clearResults"
        >

        <ul class="list-group autocomplete" v-if="this.results.length">
          <li
            class="list-group-item"
            v-for="result in results"
            v-html="result"
            v-on:click="selectResult(result)"
          >
          </li>
        </ul>

    </div>
  </div>


  <div class="cards row">
    <div class="col-md-3">
      <%= link_to new_list_path, class: "btn panel panel-default new-list" do %>
        <h2>Create a new list</h2>
      <% end %>
    </div>

    <div v-for="result in fuseResults">
      <list-card
        :list="result"
        :signed-in="signedIn"
      >
      </list-card>
    </div>

  </div>

</div>

<% content_for(:page_app) do %>
  <script>
    searchLists.signedIn = <%= user_signed_in? %>
    searchLists.allLists = <%= raw render('lists/lists.json', lists: @visible_lists) %>
    var query = window.location.search.split("&q=")[1]
    searchLists.query = (query == undefined) ? "" : query
    searchLists.$mount('#search-lists')
  </script>
<% end %>
