<%
  @title = 'Home'
  @full_width = true
  @body_class = "list-index"
%>

<div id="search-lists">
  <div class="row">
    <div class="form-group col-md-3">
        <input
          class="form-control query-input"
          v-model="query"
          v-bind:placeholder="placeholder"
          v-on:keyup="getResults"
          v-on:keyup.esc="clearResults"
        >

        <ul class="list-group autocomplete" v-if="this.results.length">
          <li
            class="list-group-item"
            v-for="result in results"
            v-html="result"
            v-on:click="selectResult(result)"
          >
          </li>
        </ul>

    </div>
  </div>


  <div class="cards row">
    <div class="col-md-3">
      <%= link_to new_list_path, class: "btn panel panel-default new-list" do %>
        <h2>Create a new list</h2>
      <% end %>
    </div>
    <%# render @visible_lists %>
    <div v-for="result in fuseResults">

      <div class="col-md-3 list-card">
        <div class="panel panel-default">
          <div class="panel-body">

            <a :href="result.owner" class="timestamp">
              {{result.owner}} updated {{result.updated_at}} ago
            </a>
            <div><a v-for="tag in result.tag_list" class="tag">
              {{tag}}
            </a></div>
            <div class="list-title"><a :href="result.link">{{result.name}}</a></div>

            <p class="list-body">{{result.description, 300 | truncate }}</p>

            <div class="list-footer">
              <a
                class="list-pin"
                v-bind:class="{'toggled': result.pinned}"
                v-on:click="togglePin(result)"
                remote="true"
              >
                {{result.pins}}
              </a>
              <a
                class="list-vote"
                v-bind:class="{'toggled': result.liked}"
                v-on:click="toggleLike(result)"
                remote="true"
              >
                {{result.likes}}
              </a>
              <span class="comment-count">
                {{result.comments_count}}
              </span>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<% content_for(:page_app) do %>
  <script>
    searchLists.allLists = <%= raw render('lists/lists.json', lists: @visible_lists) %>
    var query = window.location.search.split("&q=")[1]
    searchLists.query = (query == undefined) ? "" : query
    searchLists.$mount('#search-lists')
  </script>
<% end %>
