<%
  @title = 'Home'
  @body_class = "list-index"
%>

<div class="vue-search-lists" data-props="<%=
  {
    lists: ActiveSupport::JSON.decode(render('lists/lists.json', lists: @visible_lists)),
    signedIn: user_signed_in?,
  }.to_json
%>"></div>
