<p>Welcome to Project Credo!</p>

<p>You have signed up using <%= @provider %></p>

<p>Your username is: <%= @user.username %></p>

<p>We generated a temporary password for you: <%= @password %></p>

<p>Please change your password after your first login.</p>
