<% @title = 'How-To' %>

<div class='row'>
  <div class='col-md-9'>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
    <h1>How To Use Project Credo</h1>
  </div>

  <nav class='col-md-3'>
    <ul class="nav nav-pills nav-stacked" data-spy="affix">
      <li><a href="#section2">Section 2</a></li>
      <li><a href="#section2">Section 2</a></li>
      <li><a href="#section2">Section 2</a></li>
      <li><a href="#section2">Section 2</a></li>
      <li><a href="#section2">Section 2</a></li>
    </ul>
  </nav>
</div>