<% @title = 'How-To' %>

<div class='row how-to'>
  <div class='col-md-9'>
    <h1 id='top' data-spy="scroll" >Project Credo: Collaborative Research</h1>
    <h4>
      Primary research is the foundation of scientific information.  Our mission is to expose more people to the value and importance of research while removing the hardest parts of understanding the content.  This is a quickstart guide on how to use the site.
    </h4>
    <h2 id='create-list' data-spy="scroll">Create a list</h2>
    <h1>
      Project Credo any person curate their own list of research making it easy for viewers to navigate to, talk about, and understand primary research within a full context.  By creating your own list, you can add to our scientific commons and broaden the fields people can examine through the lens of research.

      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit, risus non blandit bibendum, ante libero posuere enim, id cursus augue sem in leo. Vestibulum vulputate mauris sed pharetra gravida. Fusce ante leo, feugiat id accumsan eget, auctor vitae nibh. In tellus nisi, lacinia vitae massa ac, molestie tincidunt nisl. Quisque et risus euismod, pharetra sem nec, feugiat felis. Fusce eu orci vulputate, elementum massa vulputate, tristique metus. Donec purus magna, varius vel cursus non, cursus vel mi. Vestibulum ullamcorper ornare mauris, ac condimentum orci placerat eget. Vivamus at tortor at turpis mollis congue a vitae sem. Mauris dictum lacinia justo ut commodo. Duis vitae arcu nec mauris egestas tristique pharetra id sem. Duis dictum euismod purus, vitae pellentesque dui dapibus quis.

Nam quis erat aliquam, pellentesque augue in, feugiat massa. Morbi aliquet scelerisque viverra. Nunc eget tincidunt nibh. Cras ornare massa dolor, ac sodales purus commodo ut. Phasellus varius, leo tempor cursus mollis, magna arcu tristique elit, eu placerat lorem diam a purus. Mauris quis tempor purus. Nullam non maximus risus. Fusce id urna eros. In hac habitasse platea dictumst. Sed quis lacinia tellus. Maecenas non semper erat. Sed tincidunt mi ac tellus dapibus rhoncus. Donec at dolor id nibh aliquam gravida a vel felis.

Nam vel ligula dolor. Integer nec felis malesuada, dictum libero a, commodo ligula. Quisque congue nibh non leo sagittis, eget convallis mauris venenatis. Sed at ultrices nisi. Aliquam pulvinar tellus placerat rutrum aliquam. Morbi a mauris a diam venenatis eleifend. Pellentesque ac ante id lacus pharetra volutpat. Fusce rhoncus, lorem eget vestibulum cursus, dui magna iaculis nisi, sit amet porta libero lorem et nulla. Mauris sodales eros quis quam sollicitudin rutrum. Cras volutpat egestas congue. Nunc dictum arcu eget purus dictum, ut aliquet tellus interdum. In auctor et tellus eget aliquet. In ultrices iaculis arcu, sed feugiat magna gravida eu. Nunc placerat sit amet velit ut sollicitudin. Aliquam erat volutpat. Morbi non nibh orci.


    </h1>
    <h2 id='add-papers' data-spy="scroll">Add Papers to a List</h2>
    <h2 id='comment-vote-share' data-spy="scroll">Comment, Vote, and Share</h2>
    <h4>
    Suspendisse potenti. Nullam enim justo, placerat consequat posuere ac, eleifend sed metus. Duis ut justo ornare, dapibus ipsum nec, malesuada mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin nec lectus eu libero ornare placerat. Etiam tincidunt felis ut nunc pellentesque, sit amet iaculis erat egestas. Morbi aliquam ipsum eu nulla vulputate, eu cursus orci suscipit. Nulla lectus neque, porta eget lorem id, lobortis maximus augue. Aliquam ut nisi tristique, varius mi pellentesque, pharetra tellus. Nulla facilisi. Cras enim purus, elementum ut eleifend nec, dapibus maximus metus. Fusce volutpat justo finibus ligula finibus, et iaculis risus feugiat.

Ut dapibus, mi eu eleifend commodo, orci nunc tempor tellus, non condimentum dolor metus ut tortor. Nunc at posuere sapien. Cras fermentum dui eu eros rutrum, a laoreet nunc molestie. Proin quis placerat magna. In tempus scelerisque neque non posuere. Morbi at ex auctor, sollicitudin eros quis, bibendum purus. Duis facilisis fermentum eros, et lacinia magna. Duis quis feugiat mauris. Aliquam id turpis arcu.
    </h4>
  </div>

  <nav class='col-md-3'>
    <ul class="nav nav-pills nav-stacked" data-spy="affix" id="side-nav">
      <li><a href="#top">Top</a></li>
      <li><a href="#create-list">Create a List</a></li>
      <li><a href="#add-papers">Add Papers to a List</a></li>
      <li><a href="#comment-vote-share">Comment, Vote, and Share</a></li>
    </ul>
  </nav>
</div>