<% @title = 'How-To' %>

<div class='row how-to'>
  <div class='col-md-9'>
    <h1 id='top'>Project Credo: Collaborative Research</h1>
    <h4>
      Primary research is the foundation of scientific information.  Our mission is to expose more people to the value and importance of research while removing the hardest parts of understanding the content.  This is a quickstart guide on how to use the site.
    </h4>
    <h2 id='create-list'>Create a List</h2>
    <h4>
      Project Credo any person curate their own list of research making it easy for viewers to navigate to, talk about, and understand primary research within a full context.  By creating your own list, you can add to our scientific commons and broaden the fields people can examine through the lens of research.
    </h4>
    <h2 id='add-papers'>Add Papers to a List</h2>
    <h4>
      Suspendisse potenti. Nullam enim justo, placerat consequat posuere ac, eleifend sed metus. Duis ut justo ornare, dapibus ipsum nec, malesuada mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin nec lectus eu libero ornare placerat. Etiam tincidunt felis ut nunc pellentesque, sit amet iaculis erat egestas. Morbi aliquam ipsum eu nulla vulputate, eu cursus orci suscipit. Nulla lectus neque, porta eget lorem id, lobortis maximus augue. Aliquam ut nisi tristique, varius mi pellentesque, pharetra tellus. Nulla facilisi. Cras enim purus, elementum ut eleifend nec, dapibus maximus metus. Fusce volutpat justo finibus ligula finibus, et iaculis risus feugiat.
    </h4>
    <h2 id='comment-vote-share'>Comment, Vote, and Share</h2>
    <h4>
    Suspendisse potenti. Nullam enim justo, placerat consequat posuere ac, eleifend sed metus. Duis ut justo ornare, dapibus ipsum nec, malesuada mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin nec lectus eu libero ornare placerat. Etiam tincidunt felis ut nunc pellentesque, sit amet iaculis erat egestas. Morbi aliquam ipsum eu nulla vulputate, eu cursus orci suscipit. Nulla lectus neque, porta eget lorem id, lobortis maximus augue. Aliquam ut nisi tristique, varius mi pellentesque, pharetra tellus. Nulla facilisi. Cras enim purus, elementum ut eleifend nec, dapibus maximus metus. Fusce volutpat justo finibus ligula finibus, et iaculis risus feugiat.
    </h4>
  </div>

  <nav class='col-md-3 scrollspy'>
    <ul class="nav nav-pills nav-stacked" data-spy="affix" id="side-nav">
      <li><a href="#top">Top</a></li>
      <li><a href="#create-list">Create a List</a></li>
      <li><a href="#add-papers">Add Papers to a List</a></li>
      <li><a href="#comment-vote-share">Comment, Vote, and Share</a></li>
    </ul>
  </nav>
</div>