<h2>Sign up</h2>
<hr>

<div class="row">
  <div class="col-md-8 col-md-push-2">

    <%= render "devise/registrations/new_form", autofocus: true %>

    <%= render "devise/shared/links" %>

  </div>
</div>