.new-list {
  color: $gray;
  text-align: center;
  height: 180px;
  padding: 15px;
  display: block;
  opacity: 0.6;
  word-wrap:break-word;

  h3 {
    margin-top: 0;
  }

  &:hover{
    opacity: 1;
    color: $brand-primary;
  }

  &:before    {
    font-family: "Glyphicons Halflings";
    content: "\e081";
    font-size: 5em;
    width: 50%;
  }
}

.contributor-list {
  margin-bottom: 5px;
}


//Lists Index
.list-index {
  background-color: $gray-lighter;

  button.filter-btn {
    margin-bottom: 5px;
    display: block;
    @extend .btn, .btn-primary
  }

  .list-card {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    clear: left;
  }

  .list-title {
    font-size: 14px;
    font-weight: bold;
  }

  .list-body {
    font-size: 16px;
  }

  .timestamp {
    font-size: 12px;
    color: $gray-light;
  }

  .list-footer {
    margin-top: 20px;
    color: $gray-light;
    font-size: 16px;

    >a, span {
      margin-right: 20px;
    }

    a:hover{
      text-decoration: none;
      color: $primary-color;
    }

    .list-pin {
      color: $gray-light;
      &:after  {
        font-family: "Glyphicons Halflings";
        content: "\e146";
      }
    }

    .list-vote {
      color: $gray-light;
      &:after  {
        font-family: "Glyphicons Halflings";
        content: "\e005";
      }
    }

    .comment-count {
      &:after    {
        font-family: "Glyphicons Halflings";
        content: "\e111";
      }
    }

   .toggled {
      color: $primary-color;
    }
  }

}

.list-group.autocomplete {
  padding: 0;
  position: absolute;
  left: 15px;
  right: 15px;

  li {
    list-style: none;
    border-width: 1px;

  }

  li:hover {
    background-color: $state-info-bg;
  }
}

.autocomplete > .list-group-item {
  z-index: 100;
  width: 100%;
}

.query-input {
  margin-top: 20px;
  font-size: 20px;
}

.list-activity-row {
  margin: 20px 0 20px 0;

  .commented {
    &:before    {
      font-family: "Glyphicons Halflings";
      content: "\e111";
      font-size: 2em;
      width: 50%;
    }
  }

  .added {
    &:before    {
      font-family: "Glyphicons Halflings";
      content: "\e142";
      font-size: 2em;
      width: 50%;
    }
  }

  .created {
    &:before    {
      font-family: "Glyphicons Halflings";
      content: "\e081";
      font-size: 2em;
      width: 50%;
    }
  }

  @extend .row
}

//List Show

.list-show {
  margin-bottom: 50px;

  .list-section {
    margin-bottom: 30px;

    .list-section-h1 {
      .list-title {
        font-size: 28px;
        font-weight: bold;
      }

      .list-details {
        color: $gray-light;
        font-size: 18px;
      }

      .list-tags {
        padding: 5px 0;
      }
    }

    .list-section-h2 {
      margin-bottom: 10px;
      background-color: $primary-color;
      color: $white;
      padding: 5px;
      font-weight: bold;
      font-size: 18px;
    }

    .list-section-h3 {
      background-color: $gray-lighter;
      color: $dark-color;
      padding: 5px;
      font-weight: bold;
      font-size: 14px;
    }

    .quick-add {
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid;

      .crossref {
        margin-bottom: 10px;
      }

      .add-reference {
        height: 50px;
      }
    }

    .sidebar-body {
      background-color: $gray-lightest;
      padding: 15px 10px;
    }
  }

}
