table.summaries-table {
  .summary-row {
    height: 70px;
    td.summary-content{
      padding: 20px;
    }
    .summary-details{
      font-size: 14px;
      color: $gray-light;
      margin-top: 10px;
    }
  }
  td.evidence-rating {
    padding-top: 20px;
    width: 80px;
    vertical-align: top;
    font-size: 12px;
    text-align: center;
    color: $dark-color;
    font-weight: bold;
    .icon {
      font-size: 2em;
    }
  }
  .vote.summary {
    font-size: 14px;
  }
}
