.btn-primary,
.btn-primary:visited,
.btn-primary:active,
.btn-primary:focus {
    background-color: $primary-color;
    border-color: $primary-color;
    outline: none !important;

    &:hover {
      background-color: $dark-color;
      border-color: $dark-color;
    }
}

.btn-link,
.btn-link:visited,
.btn-link:focus,
.btn-link:hover {
    color: $dark-color;
    text-decoration: none;
    padding: 0;
    outline:none;
    &:hover {
      color: $primary-color;
    }
}

.btn-primary.active,
.btn-primary.active:hover,
.btn-primary.active:visited,
.btn-primary.active:focus {
    background-color: $dark-color;
    border-color: $dark-color;
}

a {
  color: $dark-color;
}

.show-details {
  color: $gray-light;
  text-decoration: none;
  &:after  {
    font-family: "Glyphicons Halflings";
    content: "\e114";
  }

  @extend .btn, .btn-link
}
/* Buttons for voting */

button.comment-vote {
  @extend .btn, .btn-link, .btn-xs;
  color: $gray-light;

  &:before  {
    font-family: "Glyphicons Halflings";
    content: "\e253";
  }
}

button.comment-vote.active {
  color: $link-color;
}

.vote {
  text-decoration: none;
  color: $gray-light;

  @extend .btn, .btn-link
}

.vote.reference {

  &:after  {
    font-family: "Glyphicons Halflings";
    content: "\e125";
  }
}

.vote.comment {
  margin-right: 10px;
  border: none;
  &:after  {
    font-family: "Glyphicons Halflings";
    content: "\e125";
  }
}

.toggled {
  color: $primary-color;
}

.edit-btn {
  &:after  {
    font-family: "Glyphicons Halflings";
    content: "\e065";
  }

  @extend .btn, .btn-link
}

.form-btns {
  font-size: 12px;
  @extend .form-group;

  .cancel-link {
    @extend .btn, .btn-link
  }

  .submit-btn {
    @extend .btn, .btn-primary, .btn-xs
  }

}
