.thumbnail-no-border {
    border: 0 none;
    box-shadow: none;
    margin: auto;
    display: block;
    padding: 5px;
}

.userpage-avatar {
  margin-bottom: 20px;
  img {
    max-width: 100%;
  }
}
