.splash {
  margin: -20px -14px 20px -14px;
  padding: 50px;
}

.tag-splash {
  background: $white;
}

.main-splash {
  background: $primary-color;
  font-weight: bold;
  font-size: 40px;
  color: $white;
}

