<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

  <h4 class="modal-title">
    <vote :voteable="selectedRef" :signed-in="signedIn"></vote>
    {{selectedRef.paper.title}}
    <a class="modal-external-link" :href="selectedRef.paper.direct_link" target="_blank"></a>
  </h4>
  <mini-bib :r="selectedRef"></mini-bib>
  <div>
    <span v-if="selectedRef.paper.tag_list == 0 && editsAllowed">Add tags</span>
    <a class="tag"
      v-for="(tag,index) in selectedRef.paper.tag_list"
    >
      {{tag}}
      <button
        class="tag-remove"
        v-show="showTagForm"
        @click="removeTag(index)"
      >
      </button>
    </a>
    <a
      class="edit-btn"
      v-if="editsAllowed"
      @click="showTagForm = !showTagForm"
    ></a>
    <div v-show="showTagForm">
      <input
        class="form-control input-sm tag-form"
        v-model="newTag"
        placeholder="Hit enter to add a tag"
        @keyup.enter="addTag"
      >
      </input>
    </div>
  </div>
</div>