<div class="modal-section">
  <div class="modal-section-header">Details</div>
  <ul class="list-unstyled">
    <li v-if="selectedRef.paper.doi != null">
      DOI:
      <a :href="'http://dx.doi.org/'+selectedRef.paper.doi" target="_blank">{{selectedRef.paper.doi}}</a>
    </li>
    <li v-if="selectedRef.paper.pubmed_id != null">
      Pubmed:
      <a :href="'https://www.ncbi.nlm.nih.gov/pubmed/'+selectedRef.paper.pubmed_id" target="_blank">{{selectedRef.paper.pubmed_id}}</a>
    </li>
    <div v-if="selectedRef.paper.links.length > 0">Direct Links:</div>
    <li v-for="link in selectedRef.paper.links">
      <a :href="link.url" target="_blank" v-text="link.url"></a>
    </li>
  </ul>
</div>