<div class="modal-section">
  <div class="modal-section-header">
    Abstract
    <span
      v-if="hasAbstract"
      data-toggle="tooltip"
      data-placement="right"
      :title="abstractImported ? 'this abstract was imported from a validated source' : 'this abstract was user generated and not validated'"
      v-text="abstractImported ? ' - imported' : ' - user generated' "
    >
    </span>
    <a
      class="edit-btn"
      data-toggle="tooltip"
      data-placement="right"
      v-if="selectedRef.paper.abstract_editable  && editsAllowed"
      @click="editAbstract = !editAbstract"
      :title="hasAbstract ? 'Edit this abstract' : 'Add an abstract'"
    ></a>
  </div>
  <div class="nothing-yet" v-if="!hasAbstract" v-show="!editAbstract">No abstract was imported...</div>
  <div v-if="editsAllowed" v-show="editAbstract">
    <div class="form-group">
      <textarea
        rows="10"
        class="form-control"
        placeholder="No abstract was imported.  Submitted abstracts will be labeled as user generated."
        v-model="selectedRef.abstract_form"
      ></textarea>
    </div>
    <div class="form-btns">
      <button class="submit-btn" @click="submitAbstract(selectedRef)">Submit</button>
      <a
        class="cancel-link"
        @click="cancelAbstractForm"
      >
        cancel
      </a>
    </div>
  </div>
  <abstract v-if="hasAbstract" v-show="!editAbstract" :abstract="selectedRef.paper.abstract"></abstract>
</div>