.new-list {
  color: $gray;
  text-align: center;
  height: 180px;
  padding: 15px;
  display: block;
  opacity: 0.6;
  word-wrap:break-word;


  h3 {
    margin-top: 0;
  }

  &:hover{
    opacity: 1;
    color: $brand-primary;
  }

  &:before    {
    font-family: "Glyphicons Halflings";
    content: "\e081";
    font-size: 5em;
    width: 50%;
  }
}

.list-title {
  margin: 5px 0 0 0;
}

.list-nav {
  color: #777777;
  font-size: 12px;
}

.contributor-list {
  margin-bottom: 5px;
}

.list-index {
  background-color: $gray-lighter;

  button.filter-btn {
    @extend .btn, .btn-primary
  }

  .list-card {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    clear: left;
  }

  .list-title {
    font-size: 14px;
    font-weight: bold;
  }

  .list-body {
    font-size: 16px;
  }

  .timestamp {
    font-size: 12px;
    color: $gray-light;
  }

  .list-footer {
    margin-top: 20px;
    color: $gray-light;
    font-size: 16px;

    >a, span {
      margin-right: 20px;
    }

    a:hover{
      text-decoration: none;
      color: $primary-color;
    }

    .list-pin {
      color: $gray-light;
      &:after  {
        font-family: "Glyphicons Halflings";
        content: "\e146";
      }
    }

    .list-vote {
      color: $gray-light;
      &:after  {
        font-family: "Glyphicons Halflings";
        content: "\e005";
      }
    }

    .comment-count {
      &:after    {
        font-family: "Glyphicons Halflings";
        content: "\e111";
      }
    }

   .toggled {
      color: $primary-color;
    }
  }

}

.list-group.autocomplete {
  padding: 0;
  position: absolute;
  left: 15px;
  right: 15px;

  li {
    list-style: none;
    border-width: 1px;

  }

  li:hover {
    background-color: $state-info-bg;
  }
}

.autocomplete > .list-group-item {
  z-index: 100;
  width: 100%;
}

.query-input {
  margin-top: 20px;
  font-size: 20px;
}