.add-reference {
  padding: 0;

  .paper-locator {
    width: 15em;
  }

  .paper-title {
    width: 25em;
  }
}

.reference-detail {
  font-size: 12px;
}

.author-link {
  padding: 0;
  font-size: 12px;
  @extend .btn, .btn-link
}