.add-reference {
  padding: 0;

  .paper-locator {
    width: 15em;
  }

  .paper-title {
    width: 25em;
  }
}

.reference-detail {
  font-size: 12px;

  .header{
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
  }
}

.author-link {
  padding: 0;
  font-size: 12px;
  @extend .btn, .btn-link
}

