.add-reference {
  padding: 0;

  .paper-locator {
    width: 15em;
  }

  .paper-title {
    width: 25em;
  }
}

.reference-detail {
  font-size: 12px;
}

.reference-metadata {
  font-size: 12px;
}

.highlight-popup {
  z-index: 100;
  position: absolute;
}
