.tags-list {
  font-size: 12px;
}

.tags-form {
  .form-group {
    padding: 0;
  }

  .form-control {
    width: 70%;
  }
}

.tag {
  @extend .btn, .btn-default, .btn-xs;
  font-size: 12px;
  margin: 0 2px 2px 0 ;
}