<p>Hello!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p>
  <a href="<%= Rails.configuration.frontend_url %>/users/password/edit?reset_password_token=<%= @token %>">Change my password</a>
</p>

<p>Or by copying and pasting this link into your browser URL bar:</p>

<p><%= Rails.configuration.frontend_url %>/users/password/edit?reset_password_token=<%= @token %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
