<div class="quick-add">
  <button class="quick-add-toggle" @click="showQuickAdd = !showQuickAdd">
    Quick Add Paper
  </button>
  <div v-show="showQuickAdd">
    <crossref-search :edits-allowed="editsAllowed"></crossref-search>
    <add-by-locator></add-by-locator>
  </div>
</div>