<div class="nothing-yet">
  <%= link_to 'Add a summary', new_user_list_summary_path(user_list_id: @list.slug) %> to help guide readers through the evidence
</div>
<table class="notes-table">
  <tbody>
    <tr v-for="s in summaries.slice(0,summariesShown)" class="note-row">
      <td class="note-vote">
        <vote :voteable="s" :signed-in="signedIn"></vote>
      </td>
      <td class="note-content">
        <component
          :is="'summary-'+s.id"
          :cited-refs='citedRefs(s.content)'
          data-toggle="modal"
              data-target="#referenceModal"
          v-on:select-ref="selectReference($event)"
        ></component>
      </td>
    </tr>
    <tr class="note-row" v-if="summaries.length > 3">
      <td class="text-center">
        <button
          class="btn-link"
          @click.stop="summariesShown = (summariesShown == 3 ? 10 : 3)"
        >
          {{summariesShown == 3 ? 'see more' : 'see less'}}
        </button>
      </td>
    </tr>
  </tbody>
</table>