<script type="text/x-template" id="reference-row">
  <tr>
    <td>
      <a
        class="recommend"
        v-bind:class="{'toggled': reference.recommended}"
        v-on:click="toggleRecommend(reference)"
        v-show="!recommendIsLoading"
      >
        {{reference.recommends}}
      </a>
      <span
        class="spinner"
        v-show="recommendIsLoading"
      >
        <span class="double-bounce1"></span>
        <span class="double-bounce2"></span>
      </span>
    </td>
    <td
    v-if="reference.paper.published_at"
    >
      {{reference.paper.published_at}}
    </td>
    <td>
      {{reference.paper.title}}
    </td>
  </tr>
</script>