<script type="text/x-template" id="reference-row">
  <tbody>
    <tr>
      <td>
        <vote :voteable="reference" :signed-in="signedIn"></vote>
      </td>
      <td align="center" >
        <b v-if="reference.paper.published_at">{{reference.age}}</b>
      </td>
      <td>
        <a
          data-toggle="modal"
          data-target="#referenceModal"
          @click="$emit('selected',index)"
        >
          {{reference.paper.title}}
        </a>
        <div class="authors" v-if="reference.authors.length > 0">
          by
          <span v-for="(author,index) in reference.authors" >
            <span class="author-link">{{author.full_name}}</span><span v-if="index+1 < reference.authors.length">, </span>
          </span>
        </div>
      </td>
      <td>
        <a
          class="show-details"
          :class="{'toggled': showPaperDetails}"
          v-if="hasPaperDetails"
          @click="showPaperDetails = !showPaperDetails"
        ></a>
      </td>
    </tr>

    <tr
      v-if="showPaperDetails"
      class="ref-details"
    >
      <td colspan="4">
        <div class="section" v-if="reference.tag_list.length > 0">
          <a class="tag" v-for="tag in reference.tag_list" v-text="tag"></a>
        </div>
        <div v-if="reference.notes.length > 0">
          <div class="header">Notes and Highlights</div>
          <div v-for="note in reference.notes" class="note">
            <vote :voteable="note" :signed-in="signedIn"></vote>
            <note :note="note"></note>
          </div>
        </div>
        <div v-if="reference.abstract">
          <span class="header">Abstract</span>
          <abstract :abstract="reference.abstract"></abstract>
        </div>
      </td>
    </tr>
  </tbody>
</script>