<div id="reference-list">
  <% reference_count = @list.references.count %>
  <% if reference_count > 0 %>
    <%= render 'papers/sort_by' %>
    <i><%= reference_count%> papers added to this list</i>
  <% end %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Age</th>
        <th>Authors</th>
        <th>Paper</th>
      </tr>
    </thead>
    <tbody>
      <tr is="reference-row">
      </tr>
    </tbody>
  </table>
</div>

<% content_for(:page_app) do %>
  <%= render 'users/lists/reference_row' %>
  <script>
    Vue.component("reference-row", {
      props: [],
      template: '#reference-row'
    })
    var referenceListApp = new Vue({
      data: {
        allReferences: []
      }
    });
    referenceListApp.allReferences = <%= raw render('users/lists/references.json', references: @references) %>
    referenceListApp.$mount('#reference-list')
  </script>
<% end %>