<script type="text/x-template" id="reference-row">
  <tbody>
    <tr>
      <td>
        <vote
          :voteable="reference"
          :signed-in="signedIn"
        >
        </vote>
      </td>
      <td
        align="center"
      >
        <b v-if="reference.paper.published_at">{{reference.age}}</b>
      </td>
      <td>
        <a
          data-toggle="modal"
          data-target="#referenceModal"
          @click="$emit('selected',index)"
        >
          {{reference.paper.title}}
        </a>
      </td>
      <td>
        <a
          class="show-details"
          :class="{'toggled': showPaperDetails}"
          v-if="hasPaperDetails"
          @click="showPaperDetails = !showPaperDetails"
        ></a>
      </td>
    </tr>
    <tr
      v-if="showPaperDetails"
      class="reference-detail"
    >
      <td colspan="4">
        <div v-if="reference.notes.length > 0">
          <span class="header">Notes and Highlights</span>
          <div v-for="note in reference.notes" class="note">
            <vote
              :voteable="note"
              :signed-in="signedIn"
            >
            </vote>
            <note
              :note="note"
            >
            </note>
          </div>
        </div>
        <p class="header">
          <a
            class="tag"
            v-for="tag in reference.tag_list"
            v-text="tag"
          >
          </a>
        </p>
        <p class="header" v-if="reference.authors.length > 0">
        Authors
          <a
            class="tag"
            v-for="author in reference.authors"
            v-text="author.full_name"
          >
          </a>
        </p>
        <abstract :abstract="reference.abstract"></abstract>
      </td>
    </tr>
  </tbody>
</script>