<% @list.summaries.each do |s| %>
  <script type="text/x-template" id="s-<%=s.id%>">
    <%
      subbed_content = s.content.gsub(/{{/,'(').gsub(/}}/,')')
      cleaned_content = sanitize subbed_content, tags: ['r-cite'], attributes: [':r']
    %>
    <span class="newlines"><%= cleaned_content %></span>
  </script>
<% end %>