<script type="text/x-template" id="abstract">
  <div>
    <span class="newlines">{{abstract, 250, truncateAbstract | truncate}}</span>
    <button
      class="action-link"
      v-if="abstract.length > 250"
      @click.stop.prevent="truncateAbstract = !truncateAbstract"
    >
      {{truncateAbstract ? 'see more' : 'see less'}}
    </button>
  </div>
</script>