<script type="text/x-template" id="r-cite">
  <span class="text-capitalize r-cite" v-if='r' @click='selectReference(r.index)'>
    {{r|cite}}
  </span>
  <span v-else>
    [filtered]
  </span>
</script>