<script type="text/x-template" id="note">
  <span>
    <span class="newlines">{{note.content, 250, truncateNote | truncate}}</span>
    <button
      class="action-link"
      v-if="note.content.length > 250"
      @click.stop="truncateNote = !truncateNote"
    >
      {{truncateNote ? 'see more' : 'see less'}}
    </button>
    <div class="note-details">
      {{note.user}} · {{note.time_ago}}
      <slot name="citation"></slot>
    </div>
  </span>
</script>