<h2><%= link_to @list.name, user_list_path(@list.owner, @list) %></h2>
created by <%= link_to @list.user.username, user_lists_path(@list.user) %>
<hr>
<div class="row">
  <div class="col-md-10 col-md-push-1">
    <%= render 'lists/form', list: @list, button_name: "Update Board" %>
  </div>
</div>
