<%
  @title = "#{@user.username}'s lists"
  @full_width = true
  @body_class = "list-index"
%>

<div id="search-lists"></div>

<% content_for(:page_app) do %>
  <script>
    searchLists = new Vue(searchLists)
    searchLists.$mount('#search-lists')
  </script>
<% end %>
