<%
  @title = "#{@user.username}'s lists"
  @full_width = true
  @body_class = "list-index"
%>

<div id="search-lists">
  <div class="row">
    <div class="form-group col-md-3">
        <input
          class="form-control query-input"
          v-model="query"
          v-bind:placeholder="placeholder"
          v-on:keyup="getResults"
          v-on:keyup.esc="clearResults"
        >

        <ul class="list-group autocomplete" v-if="this.results.length">
          <li
            class="list-group-item"
            v-for="result in results"
            v-html="result"
            v-on:click="selectResult(result)"
          >
          </li>
        </ul>

    </div>
  </div>

  <h1>
    <span><%= "#{@user.username}'s" %> Lists</span>
    <small>sorted by popularity</small>
  </h1>

  <div class="cards row">
    <%= render partial: 'lists/list', collection: @lists %>
  </div>

<% content_for(:page_app) do %>
  <script>
    var searchLists = new Vue({
      el: '#search-lists',
      data: {
        selectedTag: 'All Tags',
        query: '',
        tags: <%=  raw @tags  %>,
        results: [],
        placeholder: "Search for a list..."
      },
      computed: {
        matchQuery() {
          return this.query.toLowerCase()
        },
        matchingTags() {
          return this.tags.filter(
                    tag => tag.toLowerCase().includes(this.matchQuery)
                  ).slice(0,10)
        }
      },
      methods: {
        showQueriedTag: function(tags) {
          return this.query === '' || tags.toString().includes(this.matchQuery)
        },
        getResults: function() {
          if (this.query === '') {
            this.results = []
          } else {
            this.results = this.matchingTags
          }
        },
        clearResults: function() {
          this.query = ''
          this.results = []
        },
        selectResult: function(result) {
          this.query = result
          this.results = []
        }
      }
    });
  </script>
<% end %>
