<%
  @title = "#{@user.username}'s lists"
  @full_width = true
  @body_class = "list-index"
%>

<div id="search-lists">
  <div class="row">
    <div class="form-group col-md-3">
        <input
          class="form-control query-input"
          v-model="query"
          v-bind:placeholder="placeholder"
          v-on:keyup="getResults"
          v-on:keyup.esc="clearResults"
        >

        <ul class="list-group autocomplete" v-if="this.results.length">
          <li
            class="list-group-item"
            v-for="result in results"
            v-html="result"
            v-on:click="selectResult(result)"
          >
          </li>
        </ul>

    </div>
  </div>

  <h1>
    <span><%= "#{@user.username}'s" %> Lists</span>
    <small>sorted by popularity</small>
  </h1>

  <div class="cards row">
    <div v-for="result in fuseResults">
      <list-card
        :list="result"
        :signed-in="signedIn"
      >
      </list-card>
    </div>
  </div>

<% content_for(:page_app) do %>
  <%= render 'lists/list_card' %>
  <script>
    searchLists.signedIn = <%= user_signed_in? %>
    searchLists.allLists = <%= raw render('lists/lists.json', lists: @visible_lists) %>
    searchLists.$mount('#search-lists')
  </script>
<% end %>