<script type="text/x-template" id="list-card">
  <div class="list-card">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="list-title">
            <a :href="list.link">{{list.name}}</a>
            <a :href="list.owner" class="timestamp">
              created by {{list.owner}}
            </a>
          </div>
          <div>
            {{list.description, 300 | truncate }}
          </div>
          <div
            class="list-activity-row"
            v-for="(activity, index) in list.activities.last_activity"
            v-show="showMore ? true : index < 3"
          >
            <div
              class="col-md-1"
              :class="activity.type">
            </div>

            <div class="col-md-11">
              <a
                :href="activity.addable_href"
                v-if="activity.type == 'added'"
              >
                {{activity.addable, 150 | truncate}}
              </a>
              <span
                v-if="activity.type == 'commented'"
              >
               "{{activity.addable, 150 | truncate }}"
              </span>
              <span
                v-if="activity.type == 'created'"
              >
               This list was created!
              </span>
              <div class="timestamp">
                {{activity.user}}
                {{activity.type}}
                {{activity.updated_at}}
                </div>
            </div>
          </div>
          <a
            v-if="list.activities.last_activity.length > 3"
            v-text="showMore ? 'see less...' : 'see more..'"
            @click="showMore = !showMore"
          >
          </a>

          <div class="list-footer">
            <a
              class="list-vote"
              v-bind:class="{'toggled': list.liked}"
              v-on:click="toggleLike(list)"
              v-show="!likeIsLoading"
            >
              {{list.likes}}
            </a>
            <span
              class="spinner"
              v-show="likeIsLoading"
            >
              <span class="double-bounce1"></span>
              <span class="double-bounce2"></span>
            </span>
            <a
              class="list-pin"
              v-bind:class="{'toggled': list.pinned}"
              v-on:click="togglePin(list)"
              v-show="!pinIsLoading"
            >
              {{list.pins}}
            </a>
            <span
              class="spinner"
              v-show="pinIsLoading"
            >
              <span class="double-bounce1"></span>
              <span class="double-bounce2"></span>
            </span>
            <span class="comment-count">
              {{list.comments_count}}
            </span>
          </div>
        </div>
      </div>
    </div>
</script>