<div class="row">
  <div class="col-md-3">
    <h4>Filters</h4>
    <button>All Research Activity</button>
    <button>Your Pins</button>

  </div>
  <div class="col-md-9">
    <h4>Research Discussions</h4>
    <%= @visible_lists %>
  </div>
</div>