<%
  @title = 'Home'
  @body_class = "list-index"
  @no_container = true
%>

<div class="main-splash splash">
  <%= image_tag(asset_pack_path('images/white_logo_color_background.png'), class: "img-thumbnail thumbnail-no-border", size: "500")%>
  <p class="text-center">Welcome, let's make research understandable</p>
</div>

<div class="tag-splash splash m-b-40">
  <%= image_tag(asset_pack_path('images/tag.png'), class: "img-thumbnail thumbnail-no-border")%>
</div>

<div class="container">
   <div class="vue-activity-feed" data-props="<%=
      {
        lists: ActiveSupport::JSON.decode(render('jbuilders/lists.json', lists: @visible_lists)),
        signedIn: user_signed_in?,
      }.to_json
    %>"></div>
</div>
