<ul class="navbar-form navbar-search-form">
  <form role="search">
    <span class="question_search">
      <input type="text" class="form-control" placeholder="Search" name="q">
      <button class="btn btn-default btn-search" type="submit"></button>
    </span>
  </form>
</ul>